out
.classpath
.project
.settings
.metadata
*.log
*.zip
*.class
/client/app/data
*.swp
target
/ddgenerate
classes
build
bin
/client/test
/client/test/karma.conf.js
classes
*~
~*
.idea
api.iml
nb-configuration.xml